<div class="topic-container">
  
  <!-- Grille des topics -->
  <div class="topic-grid" *ngIf="!isLoading && !errorMessage">
    <div class="no-topics" *ngIf="topics.length === 0">
      <p>Aucun thème disponible</p>
    </div>

    <div class="topic-card" *ngFor="let topic of topics">
      <h2>{{ topic.title }}</h2>
      <p>{{ topic.content }}</p>
      <button 
        [class]="topic.isSubscribed ? 'subscribed-button' : 'subscribe-button'"
        (click)="subscribe(topic)"
        [disabled]="topic.isSubscribed">
        {{ topic.isSubscribed ? 'Déjà abonné' : "S'abonner" }}
      </button>
    </div>
  </div>
</div>